mixin navigation
  nav
    a(href="/")
      b My Website
    a(href="/cities") Cities
    a(href="/about") About 
    a(href="/register") Register 
    a(href="/login") Login 
    a(href="/account") Account