mixin navigation
  nav
    a(href="/")
      b Global Info
    a(href="/cities") Cities
    a(href="/about") About 
    a(href="/search") City-Search
    a(href="/country-search") Country-Search
    a(href="/register") Register 
    a(href="/login") Login 
    a(href="/account") Account

