extends layout
block head
  link(rel="stylesheet", href="/city.css")
block content
  h1= title
  form(method="post")
    label(for="name") Name:
    input(type="text", name="name", value=city.Name)
    br
    button(type="submit") Update