extends layout.pug

block content
  h1 Global Population Information Hub
  p Welcome to my website! Here, you'll find information and insights about the world's population trends, demographics, and more. Explore our articles, graphs, and maps to learn more about this fascinating topic.


