extends layout

block content
  h2 Search Results for '#{query}'

  if searchResults.length === 0
    p No results found.

  else
    table
      thead
        th.text-center Country
        th City
        th Population
      tbody
        each result in searchResults
          tr
            td.fit #{result.CountryCode}
            td #{result.Name}
            - const population = new Intl.NumberFormat().format(result.Population);
            td.fit.number #{population}
