extends layout

block content
  div.search-box
    h1 City Search
    form(method="GET", action="/search")
      div.form-group
        label(for="city") Enter a city name:
        input#city.form-control(type="text", name="city")
      button.btn.btn-primary(type="submit") Search
      link(rel="stylesheet", href="/search.css")
